#currency {
  float: left;
  margin-left: 15%;
  width: 25%;
}

#form-princ {
  margin-right: 15%;
}

#sub-list {
  font-weight: 700;
}

#sub-list2 {
  font-weight: 700;
}

#lookbook-container {
  width: 100%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cuadro-lookbook {
  /*height: 100%;
  width: 25%;*/
  width: 30%;
  max-height: 25%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  flex-wrap: wrap;
}

.cuadro-lookbook > img {
  width: 60%;
}

.no-bold {
  font-weight: 300 !important;
}

.content-lookbook {
  width: 35%;
  margin-top: 15%;
  text-align: right;
  color: #333333;
}

.btn-lookbook {
  background-color: #fff;
  padding: 1em;
  font-size: 0.6em;
}

.btn-lookbook:hover {
  background-color: rgb(0, 200, 200);
  border: white;
}

.p-lookbook {
  font-size: 0.6em;
}

#container-marketing {
  display: none;
}

.item-catalogo > img {
  width: 100%;
  max-width: 30% !important;
  margin-left: auto;
  margin-right: auto;
}

.item-catalogo2 > img {
  width: 100%;
  max-width: 30% !important;
  margin-left: auto;
  margin-right: auto;
}

#catalogos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divisiones-catalogos {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  max-width: 40vw;
}

.item-catalogo {
  flex: 1 0 21%;
}

.item-catalogo,
.item-catalogo2 {
  display: flex;
  /*justify-content: center;*/
  background-color: #f8f8f8;
  margin: 2%;
}

.item-catalogo2 {
  grid-column: 1 / 3;
}

#footer-age {
  width: 45%;
  margin-left: 15%;
}

#form-footer {
  margin-right: 15%;
}

.catalogo-precio {
  padding: 1%;
}

.list-info {
  padding: 0;
}

/************************************/
.imgFiler {
  filter: brightness(0.85);
}
#playlist {
  list-style: none;
}

#playlist li a {
  color: black;
  text-decoration: none;
}

.bg-negro {
  background-color: #333333;
}

h5, h4 {
  font-size: unset;
}


.bg-transparente {
  background-color: rgba(red, green, blue, 0);
}
.text-black * {
  color: black !important;
}

#navbarCollapse {
  display: flex;
  flex-direction: row;
  justify-content: end !important;
}

#navbarCollapse2 {
  display: flex;
  flex-direction: row;
  justify-content: end !important;
  padding: 4%;
  padding-bottom: 1%;
}

.text-center {
  text-align: center;
  color: white;
}

#content-square {
  height: 20%;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: stretch;
}

#balck-square {
  background-color: rgb(51, 51, 51);
  margin-right: 5%;
}

#blue-square {
  background-color: rgb(0, 200, 200);
  width: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blue-square > i > a {
  margin-top: 2%;
}

.fa-facebook {
  color: white;
  padding: 20px;
}
.fa-instagram {
  color: white;
  padding: 20px;
}
.fa-twitter {
  color: white;
  padding: 20px;
}
.fa-pinterest {
  color: white;
  padding: 20px;
}

#cart_n {
  color: white;
}

/* Estilos footer*/
.items-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-ft {
  margin: .7em;
}

.clear-storage {
  display: grid;
  justify-items: stretch;
}
